name: rapidoreach
description: Monetize your users through rewarded surveys!
version: 2.0.1
homepage: https://www.rapidoreach.com

environment:
  sdk: ^3.8.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.rapidoreach.RapidoReach
        pluginClass: RapidoReachPlugin
      ios:
        pluginClass: RapidoReachPlugin
